body{
	background-color: #f1ffff;
    color: #4caf50;
    margin: 0 auto;
    width: 800px;
}

.inside{
	margin: auto;
	width:800px;
}
  
.holla{ right: auto; position: absolute;
}

.card{
    height: 50px;
    width: 700px;
    padding-left: 20px;
}
/*Getting Started*/
#login .card{
    width:275px;
	height:350px; 
	border-radius:5px;
	margin-top:195px;
	margin-left: 150px;
	text-align: center;
    background-color:#000000;
    opacity: 0.6; 
    box-shadow: 3px 5px 10px #000000; 
}
/* label color */
#login .input-field label {
     color: #ffffff;
}
 /* label focus color */
#login .input-field input[type=text]:focus + label {
 color: #ffffff;
}
 /* label underline focus color for refernce! */
#login .input-field input[type=text]:focus {
 border-bottom: 1px solid #ffffff;
 }
#login .login-card-content{
height: 50px;
color: #ffffff;
 }
#login .login-btn{
margin-right:50px; 
margin-left:50px;
border-radius: 2px;
margin-top:10px;
background-color:#1C86EE;
}

#login img{
width: 275;
padding-left: 25px;
padding-right:100px;
margin-top: -20px;
margin-bottom: -40px;
}