<!DOCTYPE html>
<html>
<!--
Dashboard View
Author: Tobi Ogundare
24/12/2015 - Replug Revolution
-->
<head>
	<title>Dashboard</title>
</head>
<body>
<!---HEADER-->
<header>
	<li><a href="#">Home</a></li>
	<li><a href="#">Dashboard</a></li>
<!--actions should be a dropdown menu -->
<div class="actions">
	<button href="#">ACTIONS</button>
	<li><a href="#">New Message</a></lii>
	<li><a href="#">Upcoming Activities</a></li>
	<li><a href="#">Pending Assignment</a></li>
	<li><a href="#">Pending Test</a></li>

	</div>
</header>
<!--BODY-->
    <h2 class="pagetitle">DASHBOARD</h2>
   <h4 class="pagesubtitle">{{PROJECT_NAME(REVOLUTION)}}</h4>
<!--removable marquee though-->
     <marquee>This project was developed by replug dev. team</marquee>
<!--pictoral links to various spectacular features of the app..such as timetable;chat room;schedules-->
        
        <div class="row1">
        

         <div class="link">
     CURRENT TIMETABLE<br>
     <a  class="full" href="#">View full</a>
       </div>

       <div class="link">
     CHAT ROOM<br>
     <a class="full"  href="#">View full</a>
       </div>
       <div class="details">
       <div class="number">
       13
       </div>
       <div class="link">
     TASKS
     </div>
     <a  class="full" href="#">View full</a>
    </div>
 <div class="details">
       <div class="number">
       8
       </div>
    <div class="link">
     NOTIFICATION
     </div>
     <a class="full" href="#">View full</a>
    </div>
    </div>
    <!--End of pictoral links others can be added later-->

    <!--list of recent and upcoming activities-->
    <div class="recentactivities">
    	<h5>RECENT ACTIVITIES</h5>
    	<li><a href="#">Filter by</a></li>
    	<!--list of activities to filter-->
    	<div class="filtermenu">
    	<label><input type="checkbox" name="asignmnt" value="assignment" >Assignment</label>
    	<label><input type="checkbox" name="test" value="test" >Test</label>
    	<label><input type="checkbox" name="class" value="class" >Class</label>
    	<label><input type="checkbox" name="schedule" value="schedule" >Other Schedules</label>
    	</div>
    	<li>
    	   <div>
    	       <div class="desc">
    	      You had csc 211 class 
    	       </div>
    	   </div>
    	</li>
    	<li>
    	    <div>
    	        <div class="desc">
    	       gst 121 test
    	        </div>
    	        <div class="date">
				    20 mins ago
				</div>
    	    </div>
    	</li>
    	<li>
    	   <div>
    	       <div class="desc">
    	       Mat 121 class
    	       </div>
    	       <div class="date">
				    Just now
				</div>
    	   </div>
    	</li>
    	<li>
    	   <div>
    	       <div class="desc">
    	       You Submitted csc 211 assignment
    	       </div>
    	       <div class="date">
				    1hr ago
				</div>
    	   </div>
    	</li>
    	<li>
    	   <div>
    	       <div class="desc">
    	        You had csc 214 class
    	        </div>
    	        <div class="date">
				    30 mins ago
				</div>
    	   </div>
    	</li>
    	<li>
    	<a href="#">
    	   <div>
    	       <div class="desc">
    	        You have pending Tasks
    	        </div>
    	        <div class="date">
				    Just now
				</div>
    	   </div>
    	   </a>
    	</li>
    	<li>
    	<a href="#">
    	   <div>
    	       <div class="desc">
    	        Paul mentioned you in csc Chatroom
    	        </div>
    	        <div class="date">
				    2 mins ago
				</div>
    	   </div>
    	   </a>
    	</li>
    	<li>
    	   <div>
    	       <div class="desc">
    	         You had an Appointment 
    	        </div>
    	        <div class="date">
				    Just now
				</div>
    	   </div>
    	</li>
            <div class="pagefooter">
            	<div>
            		<a href="#">
                        See All Records
                           </a>
            	</div>
            </div>
    </div>
    <!--Tasks-->
    <div>
    	<h4>Tasks</h4>
    	<span class="info">
    	    45 pending
    	   </span>
    	<div class="inputs">
    	<input type="text" placeholder="search...">
    	<div>
    	  Appointment with mr asani
          <span class="item-label">now</span>
    	</div>
    	<div>
    	  service:attendance Unit
    	  <span class="item-label">3 min ago</span>
    	  </div>
    	<div>
    	   csc211 test  
            <span class="item-label">5 min ago</span>
        </div>
    	<div> 
    	    csc 211 assignment 
            <span class="item-label">3 min ago</span>
    	  </div>
    	<div>  
            csc 211 assignment 
            <span class="item-label">8 hrs ago</span>
    	  </div>
    	</div>
    </div>
    <!-- Upcoming events-->
       <div>
       	<h4>Upcoming Events</h4>
       	<span class="info">
    	    45 Upcoming
    	   </span>
    	<div class="inputs">
    	<input type="text" class="search" placeholder="search...">
    	<div>
    	    Appointment with mr asani
            <span class="item-label">1 min more</span>
    	</div>
    	<div> 
    	    service:attendance Unit 
            <span class="item-label">5 min more</span>
    	</div>
    	<div> 
    	   csc211 test 
    	   <span class="item-label">7 min more</span>
    	  </div>
    	<div> 
    	  csc 211 assignment 
    	  <span class="item-label">10 min more</span> 
    	 </div>
    	<div>  
    	 csc 211 assignment 
    	  <span class="item-label">15 min more</span> 
    	    </div>
       </div>
<!--FOOTER-->
</body>
</html>