<html>
  <head>
    <title>Revolution</title>
    <link type="text/css" href="css/materialize/dist/css/materialize.min.css"></link>
    <link type="text/css" href="css/styles.css"></link>

  </head>

  <body ng-app="RevoApp">
      {{22 * 3}}
  </body>
  <script type="text/javascript" src="css/materialize/dist/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/angular-ui-router.js"></script>
  <script type="text/javascript" src="js/jquery2.1.4.js"><script>
</html>
